<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/customer.css" />
    <link rel="stylesheet" type="text/css" href="../css/sidebar.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
        integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <title>Document</title>
</head>

<body>

    <%- include('sidebar.html') %>


        <div class="customer-container">
            <form action="/add" method="post">
                <fieldset>
                    <legend>Customrers</legend>
                    <div>
                        <div><label>Name</label></div>
                        <input type="text" value="<%= post.name%>" name="name">
                    </div>
                    <div><label>Center</label></div>
                    <input list="center-list" value="<%= post.center %>" type="text" placeholder="Sendling-Westpark"
                        name="center">
                    <datalist id="center-list">
                        <option value="Schwabing-Freimann">
                        <option value="Sendling-Westpark">
                        <option value="Neuperlach">
                    </datalist>
                    <!-- <button type="submit" id="submit-btn">submit</button> -->
                    <div><label>Payment</label></div>
                    <input list="payment-list" type="text" value="<%= post.payment %>" placeholder="Cash"
                        name="payment">
                    <datalist id="payment-list">
                        <option value="Cash">
                        <option value="Credit cards">
                        <option value="Mobile payments">
                        <option value="Electronic bank transfers">
                    </datalist>
                    <!-- <button type="submit" id="submit-btn">submit</button> -->
                    <div><label>start date</label></div>
                    <input list="start-date" type="date" value="<%= post.startdate %>" name="startdate">
                    <!-- <button type="submit" id="submit-btn">submit</button> -->
                    <div><label>end date</label></div>
                    <input list="start-date" type="date" value="<%= post.enddate %>" name="enddate">
                    <!-- <button type="submit" id="submit-btn">submit</button> -->
                    <div class="submit-btn"><button type="submit">submit</button></div>

                </fieldset>
            </form>
        </div>



</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script>
    $('.m-toogle').on('click', function () {
        $('.m-menu').show();
    })
    $('.m-close').on('click', function () {
        $('.m-menu').hide();
    })
</script>

</html>